:root {
  /* Colors */
  --CL-primary-color: #08c0dd;
  --CL-secondary-color: #262431;
  --CL-tertiary-color: #2f2c3d;
  --CL-text-primary: #ffffff;
  --CL-text-secondary: #9f9caf;
  --CL-bg-elevated: #ffffff1a;

  /* Border Radiuses */
  --BR-large: 32px;
  --BR-medium: 24px;
  --BR-pill-or-circle: 1000px;

  /* Font Family */
  --FF-main: "Inter";

  /* Font Sizes */
  --FS-small: 1.6rem;
  --FS-normal: 1.8rem;
  --FS-medium: 2rem;
  --FS-large: 3.2rem;
  --FS-x-large: 4rem;
  --FS-xx-large: 4.8rem;
  --FS-xxx-large: 5.6rem;

  /* Line Height */
  --LH-normal: normal;
  --LH-large: 1.6;

  /* Font Weights */
  --FW-regular: 400;
  --FW-bold: 700;

  /* Font Styles */
  --FST-italic: italic;

  /*==========*/
  /* Spacing */
  /*==========*/

  /* Containers Width */
  --CO-xx-large: 120rem;
  --CO-x-large: 110rem;
  --CO-large: 90rem;
  --CO-medium: 60rem;
  --CO-normal: 50rem;
  --CO-small: 35rem;

  /* Paddings */

  /* Margines */

  /* Gaps */
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--FF-main), sans-serif;
  font-size: var(--FS-small);
  font-weight: var(--FW-regular);
  color: var(--CL-text-primary);
  background-color: #2f2c3d;
}

img {
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

/* ==== Utilities ==== */
.section {
  padding: 9.6rem 3.2rem;
}

.container-xxl {
  max-width: 120rem;
  margin: 0 auto;
}

.container-xl {
  max-width: 110rem;
  margin: 0 auto;
}

/* ==== Utilities ==== */

/* ==== Header ==== */

.header {
  height: 8rem;
  position: fixed;
  width: 100%;
}

.header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  display: block;
  height: 3.2rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: var(--FS-small);
  font-weight: var(--FW-bold);
  color: var(--CL-text-primary);
  transition: all 0.25s;
}
.nav-link:hover,
.nav-link:active {
  color: var(--CL-primary-color);
}

.nav-link:link svg,
.nav-link:visited svg {
  display: block;
  fill: var(--CL-text-primary);
  width: 1.6rem;
  height: 1.6rem;
  transition: all 0.25s;
}

.nav-link:hover svg,
.nav-link:active svg {
  fill: var(--CL-primary-color);
}

/* ==== Header End ==== */

/* ==== Hero Sec ==== */

.hero {
  background: url(../images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20rem 3.2rem 12rem;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6.4rem;
}

.hero-content {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.hero-container img {
  max-width: 50rem;
}

.h1 {
  font-size: var(--FS-xxx-large);
  font-weight: var(--FW-bold);
  text-transform: uppercase;
}

.color-primary {
  color: var(--CL-primary-color);
}

.hero-content p {
  font-size: var(--FS-medium);
  line-height: var(--LH-large);
}

.btn-group {
  display: flex;
  gap: 2.4rem;
}

.btn:link,
.btn:active {
  font-size: var(--FS-small);
  font-weight: var(--FW-bold);
  background-color: var(--CL-primary-color);
  color: var(--CL-text-primary);
  border-radius: var(--BR-pill-or-circle);
  padding: 1.6rem 3.6rem;
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
  transition: all 0.25s;
}

.btn:hover,
.btn:active {
  background-color: var(--CL-secondary-color);
  box-shadow: inset 0 0 0 2px var(--CL-primary-color);
}
/* ==== Hero Sec End ==== */

/* ==== Testiomnial Sec ==== */

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.testimonial img {
  width: 9.6rem;
  border-radius: var(--BR-pill-or-circle);
}

.testimonial p {
  font-size: var(--FS-small);
  font-style: var(--FST-italic);
  line-height: var(--LH-large);
  text-align: center;
}

.h4 {
  font-size: var(--FS-medium);
  font-weight: var(--FW-bold);
}
/* ==== Testiomnial Sec End ==== */

/* ==== Takeaways Sec ==== */

.h2 {
  font-size: var(--FS-x-large);
  font-weight: var(--FW-bold);
  text-transform: uppercase;
  margin: 0 auto 3.2rem;
  text-align: center;
}

.section-description {
  max-width: var(--CO-medium);
  font-size: var(--FS-small);
  margin: 0 auto 6.4rem;
  text-align: center;
}

.takeaways-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.takeaways {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.4rem;
}
.takeaways-left .takeaway {
  flex-direction: row-reverse;
}

.takeaways-left .takeaway-content {
  text-align: right;
}

.takeaway {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.takeaway img {
  width: 4.8rem;
}

.takeaway-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.takeaway-content p {
  font-size: var(--FS-small);
  line-height: var(--LH-large);
}
/* ==== Takeaways Sec End ==== */

/* ==== Preview Sec ==== */

.preview {
  background: url(../images/video-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.video {
  max-width: var(--CO-large);
  margin: 0 auto;
  position: relative;
}

.video img {
  width: 100%;
}

.play-btn {
  background-color: var(--CL-primary-color);
  height: 6.4rem;
  width: 6.4rem;
  border-radius: var(--BR-pill-or-circle);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-btn::after {
  content: "";
  border-left: 1.6rem solid var(--CL-text-primary);
  border-top: 0.8rem solid transparent;
  border-bottom: 0.8rem solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.play-btn::before {
  content: "";
  background-color: var(--CL-primary-color);
  z-index: -1;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--BR-pill-or-circle);
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  50% {
    opacity: 75%;
  }

  100% {
    height: 200%;
    width: 200%;
    opacity: 0;
  }
}

/* ==== Preview Sec End ==== */

/* ==== Details Sec ==== */

.details {
  padding-bottom: 0;
}

.details-flex {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.detail {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.detail + .detail {
  flex-direction: row-reverse;
}

.detail-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.h3 {
  font-size: var(--FS-large);
  font-weight: var(--FW-bold);
}

.detail-content p {
  font-size: var(--FS-small);
  line-height: var(--LH-large);
}
/* ==== Details Sec End ==== */

/* ==== Stats Sec ==== */

.stats {
  display: flex;
  justify-content: space-between;
  gap: 3.2rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.stat img {
  height: 6.4rem;
}
/* ==== Stats Sec End ==== */
