*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 700;
}

/*  */
.heading-line {
  height: 3px;
  width: 100px;
  background-color: #fc5d66;
}
/*  */

/* 
=====================
Header
=====================
*/

.header {
  position: fixed;
  width: 100%;
  background-color: #3333331c;
}

.header-container {
  max-width: 120rem;
  height: 8rem;
  margin: 0 auto;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  height: 4rem;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.nav-item {
  list-style: none;
  display: block;
}

.nav-link:link,
.nav-link:visited {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.nav-link:hover,
.nav-link:active {
  color: #ffc05a;
}

.header-link-icon,
.header-link-icon {
  width: 2.4rem;
  fill: #fff;
}

.header-link-icon:hover,
.header-link-icon:active {
  fill: #ffc05a;
}

svg {
  display: block;
}

/* 
=====================
Header End
=====================
*/

/* 
=====================
hero section
=====================
*/

.hero-section {
  background-image: url(../images/header-background.jpg);
}

.hero-section-container {
  display: flex;
  align-items: center;
  gap: 8rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 20rem 2.4rem 12rem;
}

.hero-section-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.hero-section-heading {
  font-size: 6.4rem;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
}

.hero-section-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  background-color: #ffc05a;
  color: #000;
  border-radius: 100rem;
  padding: 2.4rem 4.8rem;
}

.hero-section-img {
  margin-right: -10rem;
}

.hero-section svg {
  fill: #fff;
  width: 100%;
  height: 10rem;
}
/* 
=====================
hero section end
=====================
*/

/* 
=====================
Learn Section
=====================
*/

.learn-section {
  padding: 8rem 0;
}

.learn-section-container {
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.learn-section-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.learn-section-heading {
  font-size: 4.8rem;
  font-weight: 700;
}

.learn-section-text {
  max-width: 90rem;
  font-size: 2.4rem;
  line-height: 1.6;
  text-align: center;
}

.learn-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
}

.learn-list-item {
}

.learn-list-img {
}

.learn-list-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* 
=====================
Learn Section End
=====================
*/

/* 
=====================
Chapters Section
=====================
*/

.chapters-section {
  padding: 8rem 0;
}

.chapters-section-container {
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.chapters-section-heading-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

.chapters-section-heading {
  font-size: 4.8rem;
  font-weight: 700;
}

.chapters-section-text {
  max-width: 90rem;
  font-size: 2.4rem;
  line-height: 1.6;
  text-align: center;
}

.chapters-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.chapters-list-item {
  padding: 4.8rem 2.4rem 2.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.16);
}

.chapters-list-img {
  width: 40%;
}

.chapters-list-heading {
  font-size: 2rem;
  font-weight: 700;
}

.chapters-list-text {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* 
=====================
Chapters Section End
=====================
*/

/* 
=====================
Course Summary
=====================
*/
.summary-section {
  padding: 8rem 0;
  background-color: #f9fafb;
}

.summary-section-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.summary-section-heading-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

.summary-section-heading {
  font-size: 4.8rem;
  font-weight: 700;
}

.summary-list {
  padding: 4.8rem 2.4rem 1.6rem;
  list-style: none;
  width: 100%;
  background-color: #fff;
}

.summary-list-heading {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.6rem;
  background-color: #fc5d66;
  color: #fff;
}

.summary-list-section {
  list-style: none;
}

.summary-list-section-item {
  font-size: 1.6rem;
  padding: 3.2rem 1.6rem;
}

/* 
=====================
Course Summary =====================
*/

/* 
=====================
Course Target 
=====================
*/

.target-section {
}

.target-section-container {
  display: flex;
}

.target-section-img {
  background-image: url(../images/audience.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 50%;
}

.target-section-content {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 3.2rem;
  padding: 8rem 4rem;
  background-color: #fc5d66;
  color: #fff;
}

.target-section-heading {
  font-size: 4.8rem;
  font-weight: 700;
}

.target-section-text {
  font-size: 2.4rem;
  line-height: 1.6;
}
.target-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  font-size: 2.4rem;
}

.target-list-item {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.target-list-img {
  width: 3.2rem;
}

/* 
=====================
Course Target End 
=====================
*/
